[submodule "GtkSourceView-Arduino"]
	path = sintaxis/GtkSourceView-Arduino
	url = https://github.com/antoineleclair/GtkSourceView-Arduino
[submodule "arduino-mode"]
	path = sintaxis/arduino-mode
	url = https://github.com/bookest/arduino-mode
[submodule "vim-arduino"]
	path = sintaxis/vim-arduino
	url = https://github.com/smerrill/vim-arduino
[submodule "hackvision/examples/worm"]
	path = hackvision/examples/worm
	url = https://github.com/MarioBoehmer/ArduinoWorm
