[submodule "GtkSourceView-Arduino"]
	path = GtkSourceView-Arduino
	url = https://github.com/antoineleclair/GtkSourceView-Arduino
[submodule "arduino-mode"]
	path = arduino-mode
	url = https://github.com/bookest/arduino-mode
[submodule "vim-arduino"]
	path = vim-arduino
	url = https://github.com/smerrill/vim-arduino
